.Profile {
    background: #6E70F7;
    border-radius: 50%;
    font-weight: 600;
    font-size: 14px;
    height: 41px;
    width: 41px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    color: #fff;
}