.QuickActions {
    position: relative;

    &-Button {
        position: absolute;
        right: 0;
        top: 0;
        width: 35px;
        height: 35px;
        border-radius: 5px;
        border: 2px solid #E6EAF3;
        font-size: 12px;
        font-weight: bold;
        letter-spacing: 1px;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        line-height: 1px;
        transform: rotate(-90deg);

        &:hover {
            border: 2px solid #6E70F7;
            color: #6E70F7;
        }

        &_visible_true {
            border-color: #2F3650;
        }
    }

    &-Overlay {
        position: fixed;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        z-index: 9999;
        opacity: 0;
        pointer-events: none;

        &_visible_true {
            opacity: 1;
            pointer-events: all;
        }
    }

    &-Menu {
        position: absolute;
        top: 55px;
        right: -7px;
        background: #2F3650;
        border-radius: 5px;
        box-shadow: 0px 20px 18px -14px #E2E8F9;
        opacity: 0;
        pointer-events: none;
        z-index: 9999;

        &_visible_true {
            opacity: 1;
            pointer-events: all;
        }

        &::before {
            content: '';
            display: block;
            position: absolute;
            width: 16px;
            height: 16px;
            right: 16px;
            top: -7px;
            background-color: #2F3650;
            transform: rotate(45deg);
        }
    }

    &-ListItem {
        font-size: 14px;
        padding: 4px 18px;
        color: #fff;
        text-align: right;

        &:first-of-type {
            padding-top: 8px; 
        }

        &:last-of-type {
            padding-bottom: 8px;
        }

        &_disabled_true {
            pointer-events: none;
            opacity: 0.2;
        }
    }
}